<div class="card" style="background-color: #333; border-color: #333;">
  <div class="card-block">
    <h2><%= @contact.first_name %>
      <%= @contact.last_name %></h2>
    <h2>phone: <a href="tel:<%= @contact.phone_number %>"><%= @contact.phone_number %> </a></h2>
    <h2>
      e-mail: <a href="mailto:<%= @contact.email %>"><%= @contact.email %></a>
    </h2>
  </div>
</div>

  <h2><%= @contact.address.join(',     ') %></h2>


  <form class="" action="/address/<%= @contact.id %>" method="post">
    <label for="street">Street</label>
    <input type="text" name="street">

    <label for="zip">Zipcode</label>
    <input type="text" name="zipcode" value="">

    <label for="state">State</label>
    <input type="text" name="state" value="">

    <button type="submit">Confirm</button>
  </form>

  <form class="button" action="/" method="get">
    <button type="submit" name="button">Home</button>
  </form>
