
  <h2><%= @contact.first_name %></h2>
  <h2><%= @contact.last_name %></h2>
  <h2><%= @contact.phone_number %></h2>
  <h2><%= @contact.email %></h2>
  <form class="" action="/<%=@contact.id%>" method="post">
    <button type="submit" name="button">Delete</button>
  </form>
